

 <div content-for="title">
  <span>Business</span>
</div>

<!--  <div class="btn-group pull-right" content-for="navbarAction">
	<div ng-click="toggle('rightSidebar')" class="btn btn-navbar">
		<i class="fa fa-comment"></i> Chat
	</div>
</div> -->


<div class="scrollable scrollable-list">
  	<div class="scrollable-content">
		<!-- <div class="shortcut-group section-content"> -->
			<!-- <ul class="quick-menu list-unstyled"> -->
			<!-- <div class="list-group">
				<li class="blue primary">
					<a href="#/business/messages/{{businessId}}">
						<i class="fa fa-comments-o"></i>
						<span>Messages</span>
					</a>
				</li>
				<li class="yellow users">
					<a href="#/followers/{{businessId}}">
						<i class="fa fa-hand-o-down"></i>
						<span>Followers</span>
					</a>
				</li>
				<li class="inverse ">
					<a href="#/followers/{{businessId}}">
						<i class="fa fa-search"></i>
						<span>Find</span>
					</a>
				</li>
			</div> -->
			<div class="" style="text-align:center; margin:50px auto 0 auto;">
				<a transit href="#/business/inbox/{{businessId}}" class="well-block point well-primary">
					<div>
						<i class="fa fa-comments-o dashboard-icon"></i>
					</div>
					<div class="align-center ">Messages</div>
				</a>
				<a transit href="#/business/followers/{{businessId}}" class="well-block point well-warning">
					
						<i class="typcn typcn-user-add dashboard-typcn"></i>
					
					<div class="align-center ">Followers</div>
				</a>
				<a transit href="#/network/{{businessId}}" class="well well-block point well-inverse">
					<div>
						<i class="fa fa-sitemap dashboard-icon"></i>
					</div>
					<div class="align-center ">Network</div>
				</a>
				<a transit href="#/settings/business/{{businessId}}" class="well-block point well-inverse" ng-if="business.admin == userId">
					<div>
						<i class="fa fa-cogs dashboard-icon"></i>
					</div>
					<div class="align-center ">Settings</div>
				</a>
				
			</div>
		</div>			
	</div>
</div>
