

 <div content-for="title">
  <span>Dashboard</span>
</div>
<br>

<div class="scrollable">
  <div class="scrollable-content">
		
			

		
					<div class="shortcut-group section-content">
						<ul class="quick-menu list-unstyled">
							<li class="blue primary">
								<a href="#/messages">
									<i class="fa fa-comments-o"></i>
									<span>Messages</span>
								</a>
							</li>
							<li class="inverse ">
								<a href="#/feed">
									<i class="fa fa-rss"></i>
									<span>Feed</span>
								</a>
							</li>
							<li class="yellow users">
								<a href="#/followers">
									<i class="fa fa-hand-o-down"></i>
									<span>Followers</span>
								</a>
							</li>
							<li class="yellow users">
								<a href="#/following">
									<i class="fa fa-hand-o-up"></i>
									<span>Following</span>
								</a>
							</li>
							<li class="inverse ">
								<a href="#/find">
									<i class="fa fa-search"></i>
									<span>Find</span>
								</a>
							</li>
						</ul>
					</div>
				
</div>
</div>