

 <div content-for="title">
  <span>Dashboard</span>
</div>
<div class="scrollable scrollable-list">
  <div class="scrollable-content">
			<div class="" style="text-align:center; margin:50px auto 0 auto;">
				<a transit href="#/user/inbox" class="well-block point well-primary">
					<div>
						<i class="fa fa-comments-o dashboard-icon"></i>
					</div>
					<div class="align-center ">Messages</div>
				</a>
				<a transit href="#/following" class="well-block point well-warning">
						<i class="typcn typcn-user-add dashboard-typcn"></i>
						<div class="align-center ">Following</div>
				</a>
				<a transit href="#/feed" class="well well-block point well-inverse">
					<div>
						<i class="fa fa-rss dashboard-icon"></i>
					</div>
					<div class="align-center ">Feed</div>
				</a>
				<a transit href="#/settings" class="well-block point well-inverse">
					<div>
						<i class="fa fa-cogs dashboard-icon"></i>
					</div>
					<div class="align-center ">Settings</div>
				</a>
			</div>
				
</div>
</div>