
<div content-for="title">
  <span>Find</span>
</div>

<div class="col-md-8 col-md-offset-2">
	<div class="form-group">
		<div class="input-group">
			<input type="text" ng-model="users" placeholder="Find Users" class="form-control input-lg">
			<span class="input-group-btn">
				<button type="button" class="btn btn-primary btn-lg" ng-model="search"><i class="fa fa-search"></i></button>
			</span>
		</div> 
	</div>
	<div class="form-group">
		<a href="#/find/categories" class="btn btn-warning btn-block btn-lg">Categories</a>
	</div>
</div>

<div class="col-md-4 col-md-offset-4" style="padding-top:100px;">

	<div class="shortcut-group section-content">
		<ul class="quick-menu list-unstyled">
			<li class="blue primary">
				<a>
					<i class="fa fa-microphone"></i>
					
				</a>
			</li>
		</ul>
	</div>

</div>