<div content-for="title">
<span>Account Settings</span>
</div>

<div content-for="backBtn">
	<a ng-href="#/settings" class="btn btn-navbar">
		<i class="fa fa-chevron-left"></i> 
	</a>
</div>

<div class="scrollable scrollable-list">
	<div class="scrollable-content">

		<ul class="list-group form-list">
			<li class="list-group-item list-divider"></li>
			<li class="list-group-item media form-list-item">
		      <div class="pull-left">
		        	<label class="list-label">First</label>
		      </div>
		      <div class="media-body">
		          <input type="text" ng-model="user.firstName" placeholder="First Name" bs-input>
		      </div>
		    </li>
		    <li class="list-group-item media form-list-item">
		      <div class="pull-left">
		        	<label class="list-label">Last</label>
		      </div>
		      <div class="media-body">
		          <input type="text" ng-model="user.lastName" placeholder="Last Name" bs-input>
		      </div>
		    </li>
		    <li class="list-group-item media form-list-item">
		      <div class="pull-left">
		        	<i class="fa fa-user toggle-icon"></i>
		      </div>
		      <div class="media-body">
		          <input type="text" ng-model="user.username" placeholder="Username" bs-input>
		      </div>
		    </li>
		    <li class="list-group-item media form-list-item">
		      <div class="pull-left">
		        	<i class="fa fa-envelope toggle-icon"></i>
		      </div>
		      <div class="media-body">
		          <input type="text" ng-model="user.email" placeholder="Email" bs-input>
		      </div>
		    </li>
		    <li class="list-group-item media form-list-item">
		      <div class="pull-left">
		        	<i class="fa fa-twitter toggle-icon"></i>
		      </div>
		      <div class="media-body">
		          <input type="text" ng-model="user.twitter" placeholder="@twitteraccount" bs-input>
		      </div>
		    </li>
		    <li class="list-group-item media form-list-item" >
		      <div class="pull-left">
		        	<i class="fa fa-facebook toggle-icon"></i>
		      </div>
		      <div class="media-body">
		          <input type="text" ng-model="user.facebook" placeholder="Facebook" bs-input>
		      </div>
		    </li>
		    <span class="list-group-item list-divider"></span>
		    	<a href="#/settings/account/{{userId}}/profile" class="list-group-item">
		    		<div class="pull-left">
			        	<i class="fa fa-wrench list-icon"></i>
			      </div>
			      <div class="media-body">
					<h4 class="media-heading">Profile toggle
		        			<i class="fa fa-chevron-right pull-right"></i>
					</h4>
				</div>
		    	</a>
		    	<a class="list-group-item" ng-if="!user.business" ng-click="addBusiness()">
		    		<div class="pull-left">
			        	<i class="fa fa-plus list-icon"></i>
			      </div>
			      <div class="media-body">
					<h4 class="media-heading"> Business
		        			<i class="fa fa-chevron-right pull-right"></i>
					</h4>
				</div>
		    	</a>
		    	<span class="list-group-item list-divider"></span>
		    	<span class="list-group-item">
		    		<div class="pull-left">
			        	<i class="fa fa-refresh list-icon"></i>
			      </div>
			      <div class="media-body">
					<h4 class="media-heading"> Reset Password
		        			<i class="fa fa-chevron-right pull-right"></i>
					</h4>
				</div>
		    	</span>
		    	<li class="list-group-item media form-list-item" >
		      	<div class="pull-left">
		        		<label class="list-label">Old</label>
		      	</div>
		      	<div class="media-body">
		          		<input type="text" ng-keypress="reset()" ng-model="oldpass" bs-input>
		      	</div>
		    	</li>
		    	<li class="list-group-item media form-list-item" >
		      	<div class="pull-left">
		        		<label class="list-label">New</label>
		      	</div>
		      	<div class="media-body">
		          		<input type="text" ng-keypress="reset()" ng-model="newpass" bs-input>
		      	</div>
		    	</li>
		    	<li class="list-group-item media form-list-item" >
		      	<div class="pull-left">
		        		<label class="list-label">Confirm</label>
		      	</div>
		      	<div class="media-body">
		          		<input type="text" ng-keypress="reset()" ng-model="confirm" bs-input>
		      	</div>
		    	</li>
		    	<button type="button" ng-show="err" class="btn btn-danger btn-block" >{{err}}</button>
		    	<button type="button" ng-show="msg" class="btn btn-warning btn-block">{{msg}}</button>
		    	<button type="button" class="btn btn-primary btn-block" ng-click="updatePassword()">Save Password</button>

		</ul>


		<!-- <div class="panel panel-default">
			  <div class="panel-heading">
					<h3 class="panel-title">Reset Password</h3>
			  </div>
			  <div class="panel-body">
			  		<label>Old Password</label>
					<input type="password" ng-keypress="reset()" ng-model="oldpass" lable="Password" bs-input/>
			  		<label>New Password</label>
					<input type="password" ng-keypress="reset()" ng-model="newpass" label="New" bs-input />
			  		<label>Confirm Password</label>
					<input type="password" ng-keypress="reset()" ng-model="confirm" label="Confirm" bs-input/>
					<button class="btn btn-primary" ng-click="updatePassword()">Done</button>

					<p class="error" ng-show="err">{{err}}</p>
					<p class="good" ng-show="msg">{{msg}}</p>
			  </div>
		</div> -->
			<button class="btn btn-danger btn-block" ng-click="logout()">Log Out</button>
	</div>
</div>