 <div content-for="title">
  <span ng-show="account.firstName">{{account.firstName}} {{account.lastName}}</span>
  <span ng-hide="account.firstName">{{account.email}}</span>
</div>
<br>

	<!-- <div class="row" style="background-color:#f1f1f1; margin-top:-20px; padding:3px;">
		<div class="col-md-10 col-xs-10" style="">
			<textarea msd-elastic ng-model="message" class="form-control" style="height:34px"></textarea>
		</div>
		<div class="col-md-2 col-xs-2" style="">
			<button type="button" class="btn btn-primary pull-right" ng-click="addMessage(userId, user.username, message)">Send</button>
		</div>
	</div> -->


<div class="scrollable">  
  	<div class="scrollable-content ">
		<div content-for="backBtn">
			<a ng-href="{{oldHash}}" class="btn btn-navbar">
				<i class="fa fa-chevron-left"></i> 
			</a>
		</div>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="msg in messages" ng-class="{alignRight: msg.id == userId}">
				{{msg.message}}
				<br>
				{{msg.username}}
			</li>
		</ul>
	</div>
</div>
<button data-ng-click="killChat(accountId, userId)" type="button" class="btn btn-danger">Kill Chat</button>
